* {
    margin: 0;
    padding: 0;}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;}

html { 
    font-size: 16px;
    scroll-behavior: smooth;}

h1 { font-size: 4rem; }    /* 64px */
h2 { font-size: 4rem; }    /* 64px */
h3 { font-size: 2rem; }    /* 32px */
h4 { font-size: 1.5rem; }  /* 24px */
p  { font-size: 1.5rem; } /* 24px */
h5 { font-size: 1rem; }    /* 16px */

a {
    text-decoration: none;
    color: rgba(32, 32, 39, 1);;
    cursor: url(./img/cursor.png) 10 10, auto;}

.preserve-lines {
  white-space: pre-line;
}

.center {
    position: relative;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);}

.top {
    background: rgba(225, 255, 143, 1);
    background-image:
        url('./img/Star1.png'),      
        url('./img/Star2.png'),
        url('./img/Star3.png'),      
        url('./img/Star4.png'),      
        url('./img/Star5.png');      
    background-position: 
    calc(100% + 450px) calc(100% + 0px),
    calc(100% - 1330px) calc(100% - 650px),
    calc(100% - 1250px) calc(100% - 710px),
    calc(100% - 380px) calc(100% - 160px),
    calc(100% - 480px) calc(100% - 210px);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;   
    width: 100%;
    box-sizing: border-box;
}

.top__content {
    padding-top: 196px;
}

.top__title {
    padding-bottom: 24px;
    font-weight: 700;
    line-height: 78px;
    color: rgba(32, 32, 39, 1);
    max-width: 769px;
}

.top__info {
    padding-bottom: 48px;
    line-height: 32px;  
    color: rgba(32, 32, 39, 1);
    max-width: 720px;
    font-weight: 400;
}

.top__link {
    width: 247px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: white;
    font-weight: 600;
    line-height: 141.69%;
    font-size: 24px;
    transition: 0.4s;
}

.top__link:hover {
    background: white;
    color: rgba(32, 32, 39, 1);;
    transition: 0.4s;
}

.top__link-2 {
    display: none;
}

.top__line {
    position: absolute;
    left: 0;
    right: 0;
    height: 90px; 
    z-index: 1000;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    background: rgba(188,236,48,1);
    color: rgba(32,32,39,1);
    padding: 0;     
    display: flex;
    align-items: center; 
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
}


.top__line-track {
  flex: 0 0 auto;
  display: flex;
  gap: 51px;  
  align-items: center;
  animation: scroll 35s linear infinite;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.star svg { width: 1em; height: 1em; fill: currentColor; }

.star {
  display: inline-flex;
  align-items: center;
}


.about {
    background: rgba(32, 32, 39, 1);
    background-image:
        url('./img/Star6.png'),      
        url('./img/Star7.png'),
        url('./img/Star8.png');      
    background-position: 
    calc(100% + 145px) calc(100% - 700px),
    calc(100% - 1380px) calc(100% - 610px),    
    calc(100% - 1330px) calc(100% - 540px);
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 94px;

}

.about__text {
    padding-bottom: 72px;
    color: rgba(32, 32, 39, 1);
}

.about__text-title {
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 78px;
    color: white;
}

.about__text-info {
    font-weight: 400;
    line-height: 32px;
    color: white;
}

.about__games-block {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    column-gap: 32px;
    box-sizing: border-box;
}

.game {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 0.4s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 999;
    
}

.game-link {
    min-width: 100%;
    min-height: 100%;
}

.game-1 { grid-column: 1; grid-row: 1; }
.game-2 { grid-column: 2; grid-row: 1; }
.game-3 { grid-column: 3; grid-row: 1; }
.game-4 { grid-column: 1; grid-row: 2; }
.game-5 { grid-column: 2; grid-row: 2;margin-top: 39px; }
.game-6 { grid-column: 3; grid-row: 2; }

.game-1, .game-3 { height: 473px; }
.game-4, .game-6 { height: 551px; }
.game-2, .game-5 { height: 512px; }

.game:hover {
    transform: scale(1.08);
    transition: 0.4s;
}

.picture-1 {
    background: rgba(173, 97, 255, 1);
    background-image: url(./img/pic1.png);
}

.picture-2 {
    background:rgba(253, 173, 0, 1);
    background-image: url(./img/pic2.png);
}

.picture-3 {
    background: rgba(176, 174, 255, 1);
    background-image: url(./img/pic3.png);
}

.picture-4 {
    background: rgba(39, 26, 88, 1);
    background-image: url(./img/pic4.png);
}

.picture-5 {
    background: rgba(188, 236, 48, 1);
    background-image: url(./img/pic5.png);
}

.picture-6 {
    background: rgba(39, 26, 88, 1);
    background-image: url(./img/pic6.png);
}

.picture {
    border-radius: 30px;
    min-width: 100%;
    height: 314px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.game__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 32px;
}

.game__number {
    width: 108px;
    height: 36px;
    color: rgba(32, 32, 39, 1);
    font-weight: 500;
    line-height: 110%;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__title {
    font-weight: 700;
    line-height: 39px;
    color: rgba(32, 32, 39, 1);
}

/* Мини-игры */

.mini-games {
    background: rgba(32, 32, 39, 1);
    padding-top: 46px;
}

.mini-games__content {
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding-bottom: 144px;
}

.mini-games__title {
    font-weight: 700;
    line-height: 78px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 72px;
}

.card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    
}

.card-revers {
    flex-direction: row-reverse;
}

.card__info {
    padding: 48px;
    max-width: 50%;
}

.card__title {
    color: rgba(32, 32, 39, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
}

.card__description {
    color: rgba(32, 32, 39, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 36px;
}

.card__button {
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 39, 1);
}

.card__button:hover {
    background: white;
    color: rgba(32, 32, 39, 1);;
    transition: 0.4s;
    cursor: url(./img/cursor.png) 10 10, auto;
}
  
    .card__picture-1 {
    background: rgba(173, 97, 255, 1);
    background-image: url(./img/pic1.png);
    background-size: 162%;
}

.card__picture-2 {
    background:rgba(253, 173, 0, 1);
    background-image: url(./img/pic2.png);
    background-size: 162%;
}

.card__picture-3 {
    background: rgba(86, 94, 239, 1);
    background-image: url(./img/pic3.png);
    background-size: 190%;
}

.card__picture-4 {
    background: rgba(39, 26, 88, 1);
    background-image: url(./img/pic4.png);
    background-size: 162%;
}

.card__picture-5 {
    background: rgba(153, 209, 0, 1);
    background-image: url(./img/pic5.png);
    background-size: 162%;
}

.card__picture-6 {
    background: rgba(39, 26, 88, 1);
    background-image: url(./img/pic6.png);
    background-size: 103%;
}

.card__picture {
    border-radius: 30px;
    min-width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
 
footer {
    background: rgba(189, 237, 53, 1);
    height: 150px;
    width: calc(100vw - (100vw - 100%));      
    margin-left: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1248px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;}

    .about__games-block {
        display: flex;
        gap: 32px;
        padding-bottom: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .game {
        max-width: 379px;
        min-height: 551px;
        margin-top: unset;
    }

    .mini-games__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; 
        gap: 24px; 
        padding-bottom: 10px;
        align-items: center;
        box-sizing: border-box;
        
    }

    .card {
        width: 100%; 
        max-width: 343px; 
        min-height: 530px;
        display: flex;
        flex-direction: column-reverse; 
        border-radius: 30px; 
        box-sizing: border-box;
        height: auto;
    }

    .card__picture {
        height: 285px;
    }

    .card__info {
        padding: 29px;
        max-width: 100%;
    }

    .card__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-bottom: 16px;
        min-height: auto;
        width: 250px;
    }

    .card__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 32px;
    }

    .card__button {
        width: 285px;
        height: 55px;
        margin-bottom: 0;
        font-size: 16px;
    }

    .preserve-lines-mob {
        white-space: pre-line;
    }

}

@media (max-width: 800px) {
   
    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .top__info {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .top__link {
        width: 285px;
        height: 55px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .top__link-2 {
        display: none;
    }

    .top__line {
        bottom: 0;
    }

    .about__text-title {
        font-size: 40px;
    }

    .about__text-info {
        font-size: 16px;
    }

    .mini-games__title {
        padding-bottom: 48px;
    }

    .mini-games__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; 
        gap: 24px; 
        padding-bottom: 10px;
        align-items: center;
        box-sizing: border-box;
    }

    .card {
        width: 100%; 
        max-width: 343px; 
        min-height: 530px;
        display: flex;
        flex-direction: column-reverse; 
        border-radius: 30px; 
        box-sizing: border-box;
        height: auto;
    }

    .card__picture {
        height: 285px;
    }

    .card__info {
        padding: 29px;
        max-width: 100%;
    }

    .card__title {
        min-height: auto;
        width: 250px;
    }

    .card__button {
        margin-bottom: 0;
        font-size: 16px;
    }

    footer {
        height: 100px;
    }

    .footer-title {
        font-size: 16px;
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
        line-height: 20px;
    }
}

@media (max-width: 766px) {
    .card__title {
        min-height: unset;
    }
}

@media (max-width: 424px) {
    .top__line {
        height: 50px;
        bottom: 0;
    }
}

@media (max-width: 400px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;}

    .top {
    background: rgba(225, 255, 143, 1);
    background-image:
        url('./img/StarM1.png'),      
        url('./img/StarM2.png'),
        url('./img/StarM3.png'),      
        url('./img/StarM4.png'),      
        url('./img/StarM5.png');      
    background-position: 
    calc(100% + 115px) calc(100% - 535px),
    calc(100% - 290px) calc(100% - 570px),
    calc(100% - 260px) calc(100% - 610px),
    calc(100% - 30px) calc(100% - 80px),
    calc(100% - 80px) calc(100% - 130px);
    background-repeat: no-repeat;
    background-size: auto;
    }

    .top__content {
        padding-top: 147px;
        padding-bottom: 182px;
    }

    .top__title {
        max-width: 262px;
    }

    .top__info {
        max-width: 296px;
    }

    .top__link-1 {
        display: none;
    }

    .top__link-2 {
        display: flex;
    }

    .top__link:hover {
            background: rgba(32, 32, 39, 1);
            color: white;
            transition: none;
        }
 
    .about {
        display: none;}

    .mini-games__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        padding-bottom: 48px;
    }

    .card__button {
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
    }

    .card__button:hover {
        background: rgba(32, 32, 39, 1);
        color: white;
        transition: none;
    }

    footer {
        height: 100px;
    }
}

@media (max-width: 375px) {
    

    .top__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
    }

}